@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'), local('Raleway-Regular'), url(fonts/Raleway.woff) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

html, body, svg {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
  font-family: 'Raleway', sans-serif;
  font-size: 10px;
}

.project div {
  background-color: white;
  border-width: 1px;
  border-style: solid;
}

.node {
  cursor: pointer;
}

svg div {
  height: auto;
  padding: 3px;
  text-align: center;
}

circle {
  stroke: #555;
  stroke-width: 1px;
}

line {
  stroke-width: 2;
}

text {
  text-anchor: middle;
}

button {
  float: right;
  border: 2px solid #f01414;
  background: white;
  border-radius: 4px;
  padding: 10px;
  cursor: pointer;

  &:hover {
    background-color: #ddd;
  }

  &:active {
    background-color: #aaa;
  }
}

.is-list .if-diagram,
.is-diagram .if-list {
  display: none;
}

#showList {
  position: absolute;
  top: 5px;
  left: 5px;
}

#list {
  position: relative;
  height: 100%;
  width: 300px;
  overflow: auto;
  margin: 60px 0;

  > div {
    padding-bottom: 70px;

    > div {
      border: 1px solid #ddd;
      border-radius: 4px;
      padding: 5px;
      margin: 5px;
      text-align: left;
      cursor: pointer;

      &:hover {
        background-color: #eee;
      }

      > div {
        display: none;
      }

      &.active > div {
        display: block;
      }
    }
  }
}

#overlay {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);

  div {
    background-color: white;
    width: 400px;
    max-width: 100%;
    padding: 20px 50px 60px;
    margin: 5em auto;
    text-align: left;
    line-height: 1.35em;
    font-size: 1.2em;
  }

  p.labled {
    position: relative;
    margin-left: 100px;
    word-wrap: break-word;

    b {
      position: absolute;
      left: -100px;
    }
  }
}
